.Candidates_section {
    padding: 40px 20px;
    text-align: center;
}

.Candidates_section h1 {
    font-size: 2.5em; /* Размер заголовка */
}

.Candidates_section p {
    margin-bottom: 20px; /* Отступ между абзацами */
}

.btn-primary {
    padding: 12px 20px;
    background-color: #28a745; /* Цвет кнопки "Join Now" */
    color: white;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #218838; /* Цвет кнопки при наведении */
}

.image {
    margin-top: 20px; /* Отступ сверху для изображения */
}